*:not(dialog){
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 6rem;
    text-align: center;
    margin: 16px;
}

.fields {
    display: flex;
    flex-direction: column;
}

input {
    margin-left: 16px;
}

.add-book{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

button {
    padding: 8px 16px;
    border-radius: 16px;
    border: none;
    background-color: lightblue;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.bookButton {
    background-color: #475569;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    padding: 4px 8px;
}

.bookButtons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-bottom: 8px;
}

#cancel, #add {
    font-size: small;
    margin-top: 16px;
    margin-right: 12px;
}

.entry {
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    max-height: 250px;
    overflow-y: auto;
    background-color: #64748b;
    text-align: left;
    color: white;
    font-size: 1rem;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.entries {
    display: grid;
    gap: 16px;
    padding: 16px 32px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 0 auto;
    max-width: 1200px;
}
